<div class="container-map", style="width: 100vw; top: 0; bottom: 0; position: absolute; display: grid; box-sizing: border-box;">
  <div id="map"
       style="visibility: hidden"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="wrapper-rubik" id = "loader">
<!--     <iframe src="https://giphy.com/embed/PmoyprrDzmpOVtFWJX" width="326" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/mona-lisa-davinci-joconde-PmoyprrDzmpOVtFWJX">via GIPHY</a></p> -->
    <div class="rubik-loader">
      <h4 class = 'loading '>Une petite joconde...</h4>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" id ='filter-button' data-toggle="modal" data-target="#exampleModalCenter">
  <%= image_tag "filter-colored-reverse.png", alt: "filter", id: 'filter' %>
</button>

<%= render 'shared/filter-modal' %>

<!--   <div id="static"></div> -->
