<div class="container-map", style="width: 100vw; top: 0; bottom: 0; position: absolute; display: grid;">
  <div id="map"
       style="visibility: hidden"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <div id="static"></div>
</div>

<!-- Button trigger modal -->
<button type="button" id ='filter-button' data-toggle="modal" data-target="#exampleModalCenter">
  <%= image_tag "filter-colored-reverse.png", alt: "filter", id: 'filter' %>
</button>

<%= render 'shared/filter-modal' %>
