<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
<!--       <div class="modal-header py-2">
        <h6 class="modal-title" id="exampleModalLongTitle">Filtrer</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">
        <h5><strong>Mes filtres</strong></h5>
        <%= simple_form_for :search, url: exhibitions_path, method: :get, class: "form-inline" do |f| %>
          <%= f.input :museum, as: :boolean, input_html: {checked: @museum, class: "toggle toggle-green" }, label: "Collections permanentes" %>
          <h6 class = 'subtitle-form'><strong>Collections temporaires - catégories</strong></h6>
          <% Exhibition::CATEGORIES.each do |category| %>
            <%= f.input category, as: :boolean, input_html: {checked: @categories.include?(category), class: "toggle toggle-yellow" } %>
          <% end %>
          <%= f.button :submit, 'Découvrir !', class: 'btn-res-museum-around-modal' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
