

<div class= "navbar-down-screen border-top py-2">

  <%= link_to root_path do %>
    <i class="fas fa-home"></i>
  <% end %>

  <%= link_to exhibitions_path do %>
    <i class="fas fa-search-location"></i>
  <% end %>

  <%= link_to exhibition_favorites_path(current_user) do %>
    <i class="far fa-heart"></i>
  <% end %>

  <%= link_to user_friendships_path(current_user) do %>
    <i class="far fa-address-book"></i>
  <% end %>
</div>

<% link_to














