<div class="banner-dashboard">
  <div class="profile-picture">
    <a href="profile-pic">
      <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
    </a>

  </div>
</div>


<div class="container">
  <div class="introduction text-center mt-3">
    <h2> Hello, Léa </h2>
    <p>Welcome back to your profile</p>
  </div>


  <ul class="tabs">
    <li data-tab-target="#bookings-content" class="active tab">Bookings</li>
    <li data-tab-target="#last-chance-content" class="tab">Last chance</li>
    <li data-tab-target="#recommandations-content" class="tab">Recommandations</li>
  </ul>


  <div class="class-content">
    <div id="bookings-content" data-tab-content class="active">
      <h1>Your bookings</h1>
      <p>bla bla bla</p>
    </div>
    <div id="last-chance-content" data-tab-content>
      <h1>Last chance to book</h1>
      <p>bla bla bla</p>
    </div>
    <div id="recommandations-content" data-tab-content>
      <h1>Your recommandations</h1>
      <p>bla bla bla</p>
    </div>
  </div>
</div>

