.banner-home-page {
  height: 57vh;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffd700 74%);
  display: flex;
  flex-direction: column;
  align-items: center;

  .search-bar {
    flex-grow: 1;
    padding-top: 14px;
  }
}

.btn-primary {
  scroll-behavior: smooth;
}

.banner-home-page a {
  margin-top: 340px;
  margin-bottom: 1rem;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.banner-top h2 {
  margin-top: 0px;
  font-size: 20px;
}

.logo-img {
  width: 91vw;
  margin-top: 50px;
  margin-left: 15px;
}


.fa-angle-down {
  color: white;
  font-size: 20px;
}

.fingertips h2 {
  text-align: center;
  // font-weight: bold;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.home-search-bar {
  margin-top: 60px;
  margin-bottom: 80px;
}

.search_address {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

#visit_address {
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 17px;
  width: 70vw;
  text-align: center;
  margin-top: 18px;
}

.button-search input {
  border-radius: 20px;
  background: whitesmoke;
  // padding: 17px;
  width: 20vw;
  border-width: none;
  padding: 8px 24px;
  border-radius: 30px;
  transition: background 0.3s ease;
  font-weight: bold;
}

.button-search:hover {
  background: whitesmoke;
  color: gray;
}

.magnifying-style {
  position: absolute;
  right: 28px;
  top: 7px;
  z-index: 2;
}

.magnifying-style-suite {
  position: relative;
  margin: 0 auto;
  width: 80%;

}

.down-bar {
  text-align: center;
  margin-top: -6px;
}

.ap-input-icon {
  display: none;
}

.banner-b {
  text-align: center;
    // font-size: 42px;
    // margin-top: -70px;
  animation: beat 1s infinite both;
  font-size: 20px;

  @keyframes beat{
  to { transform: scale(1.3); }
  }

}

.geolocate-button-banner {
  background-color: rgba(34, 40, 49, 0.25);
  border-radius: 30px;
  padding: 2px 15px;
  // position: absolute;
  // top: 260px;

  .geolink {
    color: $gray
  }

  i {
    font-size: 12px
  }
}

.algolia-places {
  width: auto !important;
}
