.Peinture {
  background-color: #206a5d;
}

.Sculpture {
  background-color: #db6400;
}

.Street-Art {
  background-color: #bc6c25;
}

.Contemporain {
  background-color: #790c5a;
}

.Design {
  background-color: #1a5b92;
}

.Photographie {
  background-color: #d77e70;
}

.Architecture {
  background-color: #583d72;
}

.Cinema {
  background-color: #a20a0a;
}

.Histoire {
  background-color: #734046;
}

.Musique {
  background-color: #30475e;
}
