.Peinture {
  background-color: #a3b18a;
}

.Sculpture {
  background-color: #b59deb;
}

.Street-Art {
  background-color: #bc6c25;
}

.Contemporain {
  background-color: #c9ada7;
}

.Design {
  background-color: #1a5b92;
}

.Photographie {
  background-color: #9d0208;
}

.Architecture {
  background-color: #c1aba6;
}

.Cinema {
  background-color: #a1cca5;
}

.Histoire {
  background-color: #bf9d41;
}

.Musique {
  background-color: #61a5c2;
}
