.mapboxgl-popup {
  z-index: 2;
  text-decoration: none;
}

.mapboxgl-popup.mapboxgl-popup-anchor-top {
    max-width: 270px!important;
  }

.mapboxgl-popup-content {
  font-family: 'Source Sans Pro';
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 10px 10px;
}

.mapboxgl-popup-close-button {
  font-size: 25px;
  right: -5px;
  top: -5px;
}

.info-window-card {
  // z-index: 2;
  text-decoration: none;
  color: $gray;

  a {
    color: $gray;
    text-decoration: none;
  }

  .info-window-title {
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
  }

  .info-window-img-top {
    height: 160px;
    width: 100%;
    object-fit: cover;
    position: relative;
    p {
      color: #FAFAFA;
      position: absolute;
      font-weight: bold;
      bottom: -8px;
      right: 7px;
      padding: 1px 4px;
      border-radius: 4px;
    }
  }

  .info-window-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

    p {
      margin-bottom: 0;
      font-size: 15px;
    }
  }

  .info-window-link {
    display: block;
    // position: absolute;
    bottom: 22px;
    right: 10px;
  }

  .favorite-icon-index {
    margin-right: 6px;
    font-size: 30px;
    color: #c24914;

    a {
      color: #c24914;
    }
  }
}

a:hover {
  text-decoration: none;
}
