.mapboxgl-ctrl-geocoder {
  bottom: 0px;
  right: 55px;
}

.mapboxgl-ctrl.mapboxgl-ctrl-group {
  position: absolute;
  top: 5px;
  right: 5px;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  border-radius: 30px;
}

.mapboxgl-ctrl-geocoder--input {
  height: 40px;
}

.mapboxgl-ctrl-geocoder--icon-search {
  top: 9px;
}

.form-map {
  position: fixed;
  top: 60px;
  right: 8px;

  .select-button {
    height: 30px !important;
    color: rgba(0, 0, 0, 0.6) !important;
    border: none !important;
    background-color: white !important;
    border-radius: 30px;
    padding: 0 4px;
    box-shadow: 0 0 15px rgba(0,0,0,0.07);
  }
}

.form-map-expos {
  position: fixed;
  top: 60px;
  left: 8px;

  .select-button-expos {
    height: 30px !important;
    color: rgba(0, 0, 0, 0.6) !important;
    border: none !important;
    background-color: white !important;
    border-radius: 30px;
    padding: 0 4px;
    box-shadow: 0 0 15px rgba(0,0,0,0.07);
  }
}

#static {
    background-image: url("https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/2.33,48.85,11/400x600?access_token=pk.eyJ1IjoibGdpcm91IiwiYSI6ImNraDRvNDI0czAwa2Qycm9oNXV0M2VhcjQifQ.WJzi1kWVii6EgOWm5otQJg");
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    // background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#map {
  grid-column: 1;
  grid-row: 1;
  width: 100vw;
  height: 100vh;
}

:focus {
  outline: none!important;
}

#filter {
  position: fixed;
  bottom: 80px;
  right: 16px;
  width: 46px;
  background-color: $light-gray;
  color: $gray;
  padding: 1px;
  border-radius: 9px;
}

* {
  box-sizing: border-box;
}

.wrapper-rubik {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: #fff;
  background-image: url("https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/2.33,48.85,11/400x600?access_token=pk.eyJ1IjoibGdpcm91IiwiYSI6ImNraDRvNDI0czAwa2Qycm9oNXV0M2VhcjQifQ.WJzi1kWVii6EgOWm5otQJg");
  // background-repeat: no-repeat;
}

.rubik-loader {
  width: 200px;
  height: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(https://media.giphy.com/media/9KdSKz6xZcaze/giphy.gif);
  border-radius: 8px;
  background-position: center;
  object-fit: cover;
  background-size: contain;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.1)
  // background-repeat: no-repeat;
}

.loading {
  color: white;
  font-size: 18px;
  text-align: center;
  position: relative;
  bottom: -175px;
  font-weight: bolder;
  font-family: "Source Sans Pro";
}
