.mapboxgl-ctrl-geocoder {
  bottom: 0px;
  right: 55px;
}

.mapboxgl-ctrl.mapboxgl-ctrl-group {
  position: absolute;
  top: 5px;
  right: 5px;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  border-radius: 30px;
}

.mapboxgl-ctrl-geocoder--input {
  height: 40px;
}

.mapboxgl-ctrl-geocoder--icon-search {
  top: 9px;
}

.form-map {
  position: fixed;
  top: 60px;
  right: 8px;

  .select-button {
    height: 30px !important;
    color: rgba(0, 0, 0, 0.6) !important;
    border: none !important;
    background-color: white !important;
    border-radius: 30px;
    padding: 0 4px;
    box-shadow: 0 0 15px rgba(0,0,0,0.07);
  }
}

option:before {
  content: "hello";
}

.form-map-expos {
  position: fixed;
  top: 60px;
  left: 8px;

  .select-button-expos {
    height: 30px !important;
    color: rgba(0, 0, 0, 0.6) !important;
    border: none !important;
    background-color: white !important;
    border-radius: 30px;
    padding: 0 4px;
    box-shadow: 0 0 15px rgba(0,0,0,0.07);
  }
}

:focus {
  outline: none!important;
}

