// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.content-wrapper {
min-height: calc(100vh - 70px - 80px);
}

.navbar-down-screen {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  background: #FAFAFA;
  box-shadow: 0px 0px 1px $gray;

  a {
    color: $gray;
  }
}

